p {
  margin: 0;
  color: #434343;
}

a {
  text-decoration: none;
}

::placeholder {
  font-family: regular;
  color: #b8b8b8;
}

.bordered {
  border: 1px dotted;
}

.grow {
  flex-grow: 1;
}

.primary {
  color: #a02279;
}

.bg-primary {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}

.white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.gray {
  color: #1d1d1e;
}

.bg-gray {
  background-color: #1d1d1e;
}

.light {
  font-family: light;
}

.regular {
  font-family: regular;
}

.semibold {
  font-family: semibold;
}

.bold {
  font-family: bold;
}

.small {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
}
.smallest {
  font-size: 14px;
  line-height: 35px;
}

.medium {
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.medium-alt {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.card-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
}
