.header-padding {
  padding: 52px 100px;
}

.modal-padding {
  padding: 24px 32px;
}

.header-content {
  display: flex;
  width: 100%;
}

.mobile-header {
  display: none;
}

.ham {
  display: block;
}

@media screen and (max-width: 768px) {
  .header-padding {
    padding: 16px;
  }

  .header-content {
    display: none;
  }

  .mobile-header {
    display: flex;
    width: 100%;
  }

  .ham {
    display: flex;
    justify-content: flex-end;
  }
}
