.landing-padding {
  padding: 70px 119px 67px 100px;
}

.sponsor-padding {
  padding: 15.5px 144px;
}

.inspiration-padding {
  padding: 60px 100px;
}

.card-padding {
  padding: 16px;
}

.NFT-padding {
  padding: 100px;
}

.nft-text {
  font-size: 18px;
  line-height: 35px;
}

.nft-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
