.stay-padding {
  padding: 50px 100px 100px 100px;
}

.stay-content {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.navbar {
  display: flex;
  gap: 65px;
  justify-content: space-between;
}

.mobile-navbar {
  display: none;
}

@media screen and (max-width: 1023px) {
  .stay-padding {
    padding: 16px;
  }

  .stay-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-menu {
    background-color: #fff;
    border: 1px solid #a19696;
    border-radius: 8px;
    position: absolute;
    top: 130px;
    z-index: 2;
  }

  .dropdown-menu ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .dropdown-menu ul li:hover {
    color: #a02279;
  }

  .dropdown-menu::before {
    content: "";
    background: #fff;
    transform: rotate(45deg);
  }
}
