.stay-padding {
  padding: 50px 100px 100px 100px;
}

.stay-content {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.navbar {
  display: flex;
  gap: 65px;
  justify-content: space-between;
}

.mobile-navbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .stay-padding {
    padding: 16px;
  }

  .stay-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
